<div id="<%= dom_id subscription %>">
  <p>
    <strong>Email:</strong>
    <%= subscription.email %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= subscription.campaign_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

</div>
