<div id="<%= dom_id email %>">
  <p>
    <strong>Name:</strong>
    <%= email.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= email.body %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= email.order %>
  </p>

</div>
